.footnote {
    font-size: 9pt;
    text-align:center;
}

.bio {
    background-color:"#444444";
    padding:0px 50px;
}

.nameTitle {
    border: 1px black solid;
    margin:0px 50px;
}

.container {
    border: 1px black solid;
}